.wrapper-project{
  width: 1200px;
  margin: 40px auto;
  position: relative;
  top: 100px;
  left: 0;
  z-index: 1;
}

.text-container{
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  font-family: Mr Eaves San OT;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  line-height: 33px;
  color: #111111;
}

.full-image{
  width: auto;
  height: auto;
  border-radius: 40px;
}

.full-image video{
  border-radius: 40px;
}
