.wrapper-project{
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
  top: 100px;
  left: 0;
  z-index: 1;
  animation-name: animate-wrapper-project;
  animation-duration: 0.6s;
  transition-timing-function: ease-in;
}

.wrapper-full-height{
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 140px);
  position: relative;
  top: 100px;
  left: 0;
  z-index: 1;
  animation-name: animate-wrapper-contact;
  animation-duration: 0.6s;
}

.container-full-height{
  margin: 40px;
  border-radius: 40px;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(3,170,74);
  background: linear-gradient(45deg, rgba(3,170,74,1) 0%, rgba(68,234,40,1) 100%);
}

.container-full-height p{
  font-family: mr-eaves-sans, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 60px;
  line-height: 33px;
  color: #111111;
}

.text-container{
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  font-family: mr-eaves-sans, sans-serif;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  line-height: 33px;
  color: #111111;
}

.wrapper-project a{
  color: #111111;
  text-decoration-color: #ffdd00;
}
.wrapper-project a:hover{
  color: #111111;
  text-decoration-color: #111111;

}

.subtitle{
  margin: 0 auto;
  padding-top: 20px;
  font-family: mr-eaves-sans, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  color: #999999;
  font-style: italic;
}

.full-image{
  width: auto;
  height: auto;
  border-radius: 40px;
}

.full-image video{
  border-radius: 40px;
}

.full-image img{
  width: 100%;
  border-radius: 40px;
}

.full-image-svg{
  width: 100%;
  border-radius: 40px;
}

.padding-top-80{
  padding-top: 80px;
}

.scroll-card{
  width: 100%;
  overflow-x: auto;
  display: flex;
}

.gradient-overlay{
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.card img{
  max-width: 300px;
  border-radius: 20px;
  border: solid 1px #f2f2f2;
}

.card video{
  max-width: 300px;
  border-radius: 20px;
  border: solid 1px #f2f2f2;
}

.zero-reel{
  width: 30%;
  margin: 0 auto;
}

.padding-left-20px{
  padding-left: 20px;
}

.bold-paragraph{
  font-family: mr-eaves-xl-sans,sans-serif;
  font-weight: 700;
  font-style: italic;
}

.scroll-card::-webkit-scrollbar {
  display: none;
}

@keyframes animate-wrapper-project {
  0% {top:300px; opacity: 0;}
  100% {top:100px; opacity: 1}
}

@media only screen and (max-width: 992px) {
  .full-image video{
    border-radius: 0px;
  }
  .full-image img{
    border-radius: 0px;
  }
  .scroll-card{
    width: calc(100% - 40px);
    overflow-x: auto;
    display: flex;
    margin: 0 20px;
  }
  .card img{
    max-height: 400px;
  }
  .card video{
    max-height: 400px;
  }
  .padding-left-20px{
    padding-left: 10px;
  }
  .more-margin{
    margin: 20px auto;
    width: calc(100% - 40px) !important;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper-project{
    width: 100%;
    margin: 0 auto 20px auto;
    top: 80px;
  }
  .wrapper-full-height{
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 80px);
    position: relative;
    top: 80px;
    left: 0;
    z-index: 1;
    animation-name: animate-wrapper-contact;
    animation-duration: 0.6s;
  }
  .container-full-height{
    margin: 0px;
    border-radius: 0px;
    height: calc(100%);
  }
  .text-container{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
  }
  .text-container p{
    padding: 0 20px;
  }
  .full-image{
    border-radius: 0px;
    width: 100%;
  }
  .full-image img{
    border-radius: 0px;
  }
  .full-image video{
    border-radius: 0px;
  }
  .scroll-card{
    width: calc(100% - 40px);
    overflow-x: auto;
    display: flex;
    margin: 0 20px;
  }
  .card img{
    max-height: 400px;
  }
  .card video{
    max-height: 400px;
  }
  .padding-left-20px{
    padding-left: 10px;
  }
  .subtitle{
    padding-top: 10px;
  }
  .padding-top-80{
    padding-top: 40px;
  }
  .zero-reel{
    width: 100%;
  }
  .more-margin{
    margin: 20px auto;
    width: calc(100% - 40px) !important;
  }
}
